@model LiftingWeight.Models.LiftingProgress

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkoutDate" class="control-label"></label>
                <input asp-for="WorkoutDate" class="form-control" />
                <span asp-validation-for="WorkoutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightUsed" class="control-label"></label>
                <input asp-for="WeightUsed" class="form-control" />
                <span asp-validation-for="WeightUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repititions" class="control-label"></label>
                <input asp-for="Repititions" class="form-control" />
                <span asp-validation-for="Repititions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseId" class="control-label"></label>
                <select asp-for="ExerciseId" class ="form-control" asp-items="ViewBag.ExerciseName"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
