@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello there!</h1>
    <p>
        This is a brutally simple application to track workouts. Please have a look around and see my page describing the technology stack and the infrastructure behind it.
    </p>
</div>
