@model LiftingWeight.Models.Exercises

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Exercises</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExerciseId" />
            <div class="form-group">
                <label asp-for="ExerciseName" class="control-label"></label>
                <input asp-for="ExerciseName" class="form-control" />
                <span asp-validation-for="ExerciseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineOrFree" class="control-label"></label>
                <!--<input asp-for="MachineOrFree" class="form-control" />-->
                <select id="MorFTrueFalse" name="MorFTrueFalse">
                    <option value='1'>Machine</option>
                    <option value='0'>Free Weight</option>
                </select>
                <span asp-validation-for="MachineOrFree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetedMuscle" class="control-label"></label>
                <input asp-for="TargetedMuscle" class="form-control" />
                <span asp-validation-for="TargetedMuscle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GymOrHome" class="control-label"></label>
                <select id="GoHTrueFalse" name="GoHTrueFalse">
                    <option value='1'>Gym</option>
                    <option value='0'>Home</option>
                </select>
                <span asp-validation-for="GymOrHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Current" class="control-label"></label>
                <input asp-for="Current" class="form-control" />
                <span asp-validation-for="Current" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
